<button routerLink="/dashboard">Dashboard</button>
<button routerLink="/account">Account</button>
<button (click)="logout()" routerLink="/home">Logout</button>

<p *ngIf="!done">
    Score: {{ score }}
</p>

<p *ngIf="done">
    Score: {{ score }}
    Deck finished!
</p>

<div *ngIf="toStudy">
    <p><b>{{ toStudy[currentIndex].front }}</b></p>
</div>

<input type="text" #answer />
<button (click)="checkAnswer(answer)">Submit</button>
<br />

<button (click)="previousCard()">Previous Card</button>
<button (click)="showAnswer()">Show Answer</button>
<button (click)="nextCard()">Next Card</button>
