<button routerLink="/dashboard">Dashboard</button>
<button routerLink="/account">Account</button>
<button (click)="logout()" routerLink="/home">Logout</button>

<div *ngIf="!done">
    Score: {{ score }}
    Progress: {{ cardCount - toStudy.length }}/{{ cardCount }}
    <p *ngIf="toStudy"><b>{{ toStudy[currentIndex].front }}</b></p>
    <p *ngIf="show">Answer: {{ toStudy[currentIndex].back }}</p>

    <input type="text" #answer />
    <button (click)="submitAnswer(answer)">Submit</button>
    <br />

    <button (click)="previousCard()">Previous Card</button>
    <button (click)="showAnswer()">Show Answer</button>
    <button (click)="nextCard()">Next Card</button>
</div>

<div *ngIf="done">
    Score: {{ score }}
    Prompt | Correct answer | Your answer | Correctness of your answer
    <ul>
        <li *ngFor="let answer of studied">
            {{ answer.card.front }} | {{ answer.card.back }} | {{ answer.answer }} | {{ answer.correct }}
        </li>
    </ul>
</div>
