<button routerLink="/account">Account</button>
<button (click)="logout()" routerLink="/home">Logout</button>

<ul> <!-- TODO make dynamic-->
  <li routerLink="/deck/1">Deck #1</li>
  <li routerLink="/deck/2">Deck #2</li>
  <li routerLink="/deck/3">Deck #3</li>
  <li routerLink="/deck/4">Deck #4</li>
</ul>

<!-- TODO fix to create new deck-->
<button routerLink="/deck/add">Add Deck</button>

<!-- TODO make deck selectable, then these dynamic-->
<button routerLink="/study/front/1">Study Front</button>
<button routerLink="/study/back/1">Study Back</button>
<button routerLink="/study/favourites/1">Study Favourites</button>
