<button routerLink="/account">Account</button>
<button (click)="logout()" routerLink="/home">Logout</button>

<a *ngFor="let deck of decks | async" routerLink="/deck/{{ deck.id }}">
    {{ deck.name }}
</a>

<!-- TODO fix to create new deck-->
<button routerLink="/deck/new">Add Deck</button>

<!-- TODO make deck selectable, then these dynamic
<button routerLink="/study/front/1">Study Front</button>
<button routerLink="/study/back/1">Study Back</button>
<button routerLink="/study/favourites/1">Study Favourites</button>-->
