<button routerLink="/dashboard">Dashboard</button>
<button routerLink="/account">Account</button>
<button (click)="logout()" routerLink="/home">Logout</button>

<h1>Deck <input type="text" [(ngModel)]="name" /> </h1>
<button (click)="updateDeckName()">Update Name</button>

<br />
<a *ngFor="let card of cards" routerLink="./card/{{ card.id }}">
  {{ card.front }} | {{ card.back }}<br />
</a>

<button routerLink="./card/0">Add Card</button>

<button routerLink="/study/{{ id }}">Study</button>

<button (click)="deleteDeck()">Delete Deck</button>

<br />
<router-outlet (deactivate)="onDeactivate($event)"></router-outlet>
