<button routerLink="/dashboard">Dashboard</button>
<button routerLink="/account">Account</button>
<button (click)="logout()" routerLink="/home">Logout</button>

<!-- TODO write this to data -->
<h1>Deck <input type="text" [(ngModel)]="name" /> </h1>

<br />
<a *ngFor="let card of cards" routerLink="./card/{{ card.id }}">
  {{ card.front }} | {{ card.back }}<br />
</a>

<button routerLink="./card/0">Add Card</button>

<button routerLink="/study/front/1">Study Front</button>
<button routerLink="/study/back/1">Study Back</button>
<button routerLink="/study/favourites/1">Study Favourites</button>

<button (click)="deleteDeck()">Delete Deck</button>

<br />
<router-outlet (deactivate)="onDeactivate($event)"></router-outlet>
